html, body {
    height: 100%;
}

body {
    margin: 0;
}

.body-wrap {
    height: 100%;
    background-color: #393F4D;
}

.header-wrap {
    position: relative;
}

.buttons-list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

    .buttons-list li {
        cursor: pointer;
        position: relative;
        text-align: center;
        overflow: hidden;
        display: inline-block;
        font-size: 15px;
        color: white;
        box-sizing: border-box;
    }

        .buttons-list li#uploadButton input {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 2;
            cursor: pointer;
        }

.header-wrap .buttons-list#confirm-list {
    display: none;
}

.content-wrap {
    position: absolute;
    top: 80px;
    bottom: 0;
    width: 100%;
}

.toolbar-wrap {
    position: absolute;
    height: 100%;
    width: 200px;
}

.slider-wrap .slider-line {
    width: 200px;
    height: 4px;
    background-color: #84888B;
    position: relative;
    top: 48px;
    left: 50px;
}

.slider-wrap .slider-handle {
    width: 25px;
    height: 25px;
    background-color: #FFFFFD;
    position: relative;
    top: 46px;
    left: 100px;
    margin-top: -12.5px;
    margin-left: 37.5px;
    border-radius: 15px;
}

.canvas-wrap {
    position: absolute;
    height: 100%;
    left: 200px;
    right: 0;
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

    .canvas-wrap .zoom-wrap {
        position: relative;
        margin: auto;
    }

        .canvas-wrap .zoom-wrap.center {
            top: 50%;
            transform: translateY(-50%);
        }

    .canvas-wrap canvas {
        background-color: white;
        width: 100%;
        height: 100%;
        position: absolute;
    }

.loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #393F4D;
    z-index: 10;
}

.icon {
    position: relative;
    top: 16px;
    width: 48px;
    height: 48px;
    display: block;
    margin: auto;
    background-image: url('Content/sprite.png');
    background-repeat: no-repeat;
}

.desktop .buttons-list li:hover .icon,
.desktop .toolbar-secondary-wrap .buttons-list li.selected .icon {
    background-position-y: -48px;
}
.desktop .toolbar-primary-wrap .buttons-list li.selected:hover .icon {
    background-position-y: 0px;
}

/* Icons */
.icon-download {
    background-position-x: -0px;
}

.icon-upload {
    background-position-x: -48px;
}

.icon-undo {
    background-position-x: -96px;
}

.icon-redo {
    background-position-x: -144px;
}

.icon-reset {
    background-position-x: -192px;
}

.icon-zoomOut {
    background-position-x: -240px;
}

.icon-zoomIn {
    background-position-x: -288px;
}

.icon-zoomFit {
    background-position-x: -336px;
}

.icon-transform {
    background-position-x: -384px;
}

.icon-crop {
    background-position-x: -432px;
}

.icon-filter {
    background-position-x: -480px;
}

.icon-color {
    background-position-x: -528px;
}

.icon-flip-horizontal {
    background-position-x: -576px;
}

.icon-flip-vertical {
    background-position-x: -624px;
}

.icon-rotate90 {
    background-position-x: -672px;
}

.icon-rotate180 {
    background-position-x: -720px;
}

.icon-rotate270 {
    background-position-x: -768px;
}

.icon-invert {
    background-position-x: -816px;
}

.icon-grayscale {
    background-position-x: -864px;
}

.icon-blur {
    background-position-x: -912px;
}

.icon-sharpen {
    background-position-x: -960px;
}

.icon-emboss {
    background-position-x: -1008px;
}

.icon-edge {
    background-position-x: -1056px;
}

.icon-sobel {
    background-position-x: -1104px;
}

.icon-erode {
    background-position-x: -1152px;
}

.icon-dilate {
    background-position-x: -1200px;
}

.icon-median {
    background-position-x: -1248px;
}

.icon-brightness {
    background-position-x: -1296px;
}

.icon-contrast {
    background-position-x: -1344px;
}

.icon-hue {
    background-position-x: -1392px;
}

.icon-saturation {
    background-position-x: -1440px;
}

.icon-threshold {
    background-position-x: -1488px;
}

.icon-ok {
    background-position-x: -1536px;
}

.icon-cancel {
    background-position-x: -1584px;
}

/* Crop Box*/
.crop-box {
    color: white;
    position: absolute;
    border: 1px dashed white;
    width: 958px;
    height: 538px;
    z-index: 2;
    background-color: rgba(168, 201, 229, 0.498039);
}

.crop-dot {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    z-index: 3;
    position: absolute;
}

.crop-dot-TL {
    top: 0;
    left: 0;
    cursor: nw-resize;
    margin-top: -10px;
    margin-left: -10px;
}

.crop-dot-TR {
    top: 0;
    right: 0;
    cursor: ne-resize;
    margin-top: -10px;
    margin-right: -10px;
}

.crop-dot-BL {
    bottom: 0;
    left: 0;
    cursor: sw-resize;
    margin-bottom: -10px;
    margin-left: -10px;
}

.crop-dot-BR {
    bottom: 0;
    right: 0;
    cursor: se-resize;
    margin-bottom: -10px;
    margin-right: -10px;
}

/* Desktop */
.desktop.body-wrap {
    min-width: 920px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.desktop .header-wrap .header-logo {
    background-color: #06070B;
    width: 200px;
    height: 100%;
    float: left;
    color: white;
    text-align: center;
    font-size: 35px;
    line-height: 80px;
}

.desktop .header-wrap {
    height: 80px;
    background-color: #040B13;
}

    .desktop .header-wrap .buttons-list {
        float: left;
    }

        .desktop .header-wrap .buttons-list#zoomList {
            float: right;
        }
        .desktop .header-wrap .buttons-list li.no-background-small {
            width: 50px;
            line-height: 80px;
            background-color: transparent;
        }
        .desktop .header-wrap .buttons-list li.no-background-small:hover {
            background-color: transparent;
        }

.desktop .buttons-list li {
    background-color: #10191E;
    width: 80px;
    height: 80px;
    border-right: 1px solid #040B13;
}

.desktop .header-wrap .buttons-list li:hover {
    background-color: #252C36;
}


.desktop .toolbar-wrap .buttons-list li {
    display: block;
    border-right: 0;
    width: 100px;
    border-bottom: 1px solid #252C36;
}

.desktop .toolbar-primary-wrap,
.desktop .toolbar-secondary-wrap {
    display: inline-block;
    width: 100px;
    height: 100%;
    overflow: auto;
    float: left;
}

.desktop .toolbar-primary-wrap {
    background-color: #151E27;
}

    .desktop .toolbar-primary-wrap .buttons-list li {
        background-color: #151E27;
        height: 100px;
        line-height: 58px;
    }

        .desktop .toolbar-primary-wrap .buttons-list li .bar {
            position: absolute;
            width: 10px;
            height: 100%;
            left: 0;
        }

.desktop .toolbar-secondary-wrap {
    background-color: #252C36;
}

    .desktop .toolbar-secondary-wrap .buttons-list li {
        background-color: #252C36;
        height: 80px;
        border: 0;
        line-height: 50px;
    }

.desktop li#transformButton.selected,
.desktop li#transformButton:active,
.desktop li#transformButton .bar {
    background-color: #4C9AFE;
}

.desktop li#cropButton.selected,
.desktop li#cropButton:active,
.desktop li#cropButton .bar {
    background-color: #95F73E;
}

.desktop li#filterButton.selected,
.desktop li#filterButton:active,
.desktop li#filterButton .bar {
    background-color: #F83D68;
}

.desktop li#colorButton.selected,
.desktop li#colorButton:active,
.desktop li#colorButton .bar {
    background-color: #FCAF15;
}


.desktop .actions-wrap {
    height: 100px;
    z-index: 2;
    position: absolute;
    left: 200px;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-color: rgba(25, 32, 42, 0.8);
}

    .desktop .actions-wrap .slider-wrap {
        float: left;
        width: 300px;
        height: 100%;
        position: relative;
    }

    .desktop .actions-wrap .buttons-wrap {
        float: right;
        position: relative;
        right: 50px;
        top: 10px;
    }

        .desktop .actions-wrap .buttons-wrap li {
            background-color: transparent;
            border: 0;
            display: inline-block;
        }


/* Touch */
.touch .header-wrap .header-logo {
    display: none;
}

.touch .header-wrap {
    background-color: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 2;
    text-align: center;
}

.touch .buttons-list {
    white-space: nowrap;
    display: inline-block;
}

.touch .header-wrap #zoomList {
    display: none;
}

.touch .actions-wrap .buttons-list {
    display: block;
}

.touch #CancelButton,
.touch #restoreButton {
    display: block;
    float: left;
}

.touch #OKButton,
.touch #applyButton {
    display: block;
    float: right;
}

.touch .content-wrap {
    top: 0;
    overflow: hidden;
}

.touch .canvas-wrap {
    left: 0;
    width: 100%;
    overflow: scroll;
}

.touch .toolbar-wrap {
    width: 100%;
    bottom: 0;
    z-index: 2;
    overflow: hidden;
    background-color: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

    .touch .toolbar-wrap .toolbar-primary-wrap,
    .touch .toolbar-wrap .toolbar-secondary-wrap {
        text-align: center;
    }

    .touch .toolbar-wrap .toolbar-secondary-wrap {
        position: relative;
        overflow-x: auto;
    }


.touch .actions-wrap {
    position: initial;
    text-align: center;
}

.touch .slider-wrap {
    position: absolute;
}

.touch .actions-wrap .buttons-wrap {
    position: absolute;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}


.touch .crop-dot {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.touch .crop-dot-TL {
    margin-top: -15px;
    margin-left: -15px;
}

.touch .crop-dot-TR {
    margin-top: -15px;
    margin-right: -15px;
}

.touch .crop-dot-BL {
    margin-bottom: -15px;
    margin-left: -15px;
}

.touch .crop-dot-BR {
    margin-bottom: -15px;
    margin-right: -15px;
}



.touch .header-wrap {
    height: 60px;
}

.touch .buttons-list li {
    width: 60px;
    height: 60px;
    font-size: 14px;
}

.touch .icon {
    top: 6px;
}

.touch .toolbar-primary-wrap .icon {
    top: 0;
}

.touch .toolbar-wrap {
    height: 70px;
}

    .touch .toolbar-wrap .buttons-list li {
        width: 70px;
        height: 70px;
        line-height: 22px;
    }

.touch .slider-wrap {
    bottom: 70px;
    height: 70px;
    width: 300px;
}

    .touch .slider-wrap .slider-line {
        top: 33px;
    }

    .touch .slider-wrap .slider-handle {
        top: 31px;
    }

.touch .actions-wrap .buttons-wrap {
    height: 60px;
}
