.canvas-container {
    border: 2px solid blue;
    height: 500px;
    position: relative;
    overflow: auto;
    background-color: lightgrey;
    text-align: center;
}

    .canvas-container canvas {
        background-color: white;
        position: relative;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
